@font-face {
    font-family: 'Fuente-SW-Aurebesh';
    src: url('../fonts/Aurebesh.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Fuente-SW-Aurebesh', sans-serif;
    vertical-align: bottom;
    font-size: 4rem;
}
.num{
    font-size: 8rem;

}